<!DOCTYPE html>
<html>

  {{ template "head.html" }}

    <body>

    {{ template "header.html" }}

    <div class="page-content">
        <div class="wrap yue">
            <div class="post">
                <header class="post-header">
                    <h1>{{ .Title }}</h1>
                </header>
                <article class="post-content">
                    {{ .Content }}
                </article>
            </div>
            {{ if ne .Discourse "" }}
            <div id='discourse-comments'></div>
            {{ end }}
            <script type="text/javascript">
            DiscourseEmbed = { discourseUrl: 'https://discourse.wwei10.com/',
                               discourseEmbedUrl: {{ .Discourse }} };
            (function() {
                var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
            })();
            </script>
        </div>
    </div>



    {{ template "footer.html" }}

    </body>
</html>
